{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Profil{% endblock %}

{% block body %}
    <h1>Profil : </h1>

    <ul>
        <li>Votre email :  {{ email }}</li>
        <li>Votre mot de passe :  *******</li>
        <a href= " {{ path('app_logout') }}">Déconnexion</a>
    </ul>
{% endblock %}
