@import '@fortawesome/fontawesome-free/css/all.css';
@import 'https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    margin: 0 auto;
    background: rgba(254, 254, 254, 0.8);
    padding-bottom: 4rem;
    color: #333;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

#main {
    padding-top: 10rem;
}

.center {
    display: flex;
    justify-content: center;
}

/* debut de la navbar */
nav {
    padding: 0.8rem 2.4rem;
    background: #2D2D34;
    position: fixed;
    width: 100%;
    z-index: 2;
    box-shadow: 0 2px 4px -3px rgba(26, 24, 24, 0.4);
}

nav .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

nav .nav-container #logo {
    height: 60px;
    width: 20%;
}

nav .nav-container #logo img {
    height: 100%;
    padding: auto;
}

nav .nav-container #icons {
    display: flex;
    font-size: 24px;
    width: 40%;
    padding-left: 20%;
}

nav .nav-container #icons li {
    margin-left: calc(20% + 8px);
}

.search {
    width: 60%;
}

.search #recherche{
    width: 100%;
    margin: 9px;
    padding: 10px 0 10px 5%;
    float: left;
    border:0px;
    border-radius: 30px;
}

nav i {
    color: white;
}

#logo_shop {
    position: relative;
}

#logo_shop  p{
    top: 35%;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: .9rem;
    font-weight: 900;
    position: absolute;
    color: rgb(42, 42, 42);;
    text-align: center;
}
/* fin de la navbar */

/* Affichage article homepage*/

#article_cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width : 60%;
}
.article h2 {
    font-size: 1.2vw;
}
.article h2, .article .cost {
    padding-left: 5%;
}
.article #add {
    float: right;
    padding-right: 5%;
    font-weight: 600;
}
.article {
    background-color: #F5F5F5;
    margin: 15px ;
}
.cost {
    font-weight: 500;
}
/* fin d'affichage article home page */

  
/* Page article/{id} */
#article-index {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

#article-index img {
    width: 50%;
    height: auto;
    margin-right: 10%;
}

#article-index h1 {
    text-align: center;
}
/* Fin page article/{id} */
  
  
/* Page Shopping-cart */
.cart_content {
    display: flex;
    justify-content: center;
}
.cart_index {
    width: 75%
}
table {
      border-spacing: 0px;
      border: 3px solid black;
      width: 100%;
      margin: auto;
}
  
tbody, tfoot {
      text-align: center;
}
  
tfoot td:first-child {
    text-align: right;
}
tbody td {
      border: 1px solid rgb(0, 0, 0);
}
td{
      padding: 20px;
}
.cart_index .remove {
    color: red;
}
/* Fin page Shopping-cart*/

/* connexion/inscription */
.register {
    margin: 5% 35% 0;
    text-align: center;
    font-family: 'Nunito', sans-serif;
}
.register form {
    margin: 20% 0 0 10%;
    width:100%;
}
.register form div {
    width:80%;
    margin-bottom: 7%;
    display: flex;
    justify-content: space-between;
}
/* Fin connexion/inscription */

/* Ajout d'article */
.add_article {
    margin: 5% 35% 0;
    text-align: center;
}
.add_article form {
    margin: 20% 0 0 10%;
    width:100%;
}
.add_article form div {
    width:80%;
    margin-bottom: 7%;
    display: flex;
    justify-content: space-between;
}
/* Fin d'ajout d'article */